<% layout('../layout') -%>

<div >
    <div class="row">
        <div class="col" style="overflow:scroll; height:93vh;">
            <% users.forEach(oUser => { %>
                <% if (oUser.id === user.id) return; %>
                <a href="javascript:getBooks(<%=oUser.id%>)" class="user-box">
                    <h4><%=oUser.email%></h4>
                    <h4><%=oUser.firstName + ' ' + oUser.lastName%></h4>
                    <br>
                    <h5 class="<%=oUser.status === 'active' ? 'green' : 'red'%>"><%=oUser.status%></h5>
                </a>
            <% }); %>
        </div>
        <div class="col book-container" style="overflow:scroll; height:93vh;">
            
        </div>
    </div>

</div>

<script>
    function getBooks(id) {
        $.ajax({
            url: '/library/get-books/' + id,
            success: function (libs) {
                libs.forEach(l => {
                    $('.book-container').html(`
                    <a href="javascript:getDoc('${l.Book.path}')" class="book-box">
                        <h3>${l.Book.title}</h3>
                        <h4>by ${l.Book.author}</h4>
                        <br>
                        <h5>${l.Book.description}</h5>
                    </a>
                    `);
                });
            }
        });    
    }

    $(function(){

    });
</script>

<style>
    .book-box {
        display: block;
        text-align: left;
        background-color: white;
        color: black;
        height: 150px;
        width: 100%;
        margin: 5px;
        padding: 15px;
    }

    .book-box:hover {
        color: grey;
        text-decoration: none;
    }

    .book-box h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-box {
        display: block;
        text-align: left;
        background-color: white;
        color: black;
        height: 150px;
        width: 100%;
        margin: 5px;
        padding: 15px;
    }

    .user-box:hover {
        color: grey;
        text-decoration: none;
    }

    .user-box h5 {
        font-weight: bold;
        text-transform: uppercase;
    }

    .user-box h5.green {
        color: green;
    }

     .user-box h5.red {
        color: red;
    }
</style>